.not-found-container {
  height: 100%;
  width: 100%;
  position: absolute;
  .main {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}